body {
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: #fffefb;
  background-image: repeating-linear-gradient(
    to bottom,
    #6e5e5e,
    #9ab7c5 1px,
    transparent 1px,
    transparent 2rem
  );
  background-size: 100% 2rem;
  color: #3b2f2f;
  margin: 0;
  padding: 2rem;
  min-height: 100vh;
}

header {
  background-color: #c78cbd;
  text-align: center;
  padding: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 16px;

}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.2rem;
}

main {
  padding: 1.5rem;
}

#checklist, #prayers {
  background-color: #c78cbd;
  text-align: center;
  padding: 1.2rem;
  margin-bottom: 1rem;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
  padding: 0.6rem;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.task{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 0.5rem;
   padding: 0.7rem;
   background-color: #f9fafb;
   border-radius: 10px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.task.low{ border-left: 6px solid #acd6fd;}
.task.medium { border-left: 6px solid #facc15; }
.task.high{ border-left: 6px solid rgba(161, 38, 38, 0.952);}

.task.done{
   text-decoration: line-through;
   opacity: 0.6;
}

.task-buttons button {
  margin-left: 0.3rem;
  background: none;
  border: none;
  cursor: pointer;
} 

button {
  padding: 0.6rem 1rem;
  margin-left: 0.5rem;
  background-color: #FFFBF1;
  color: rgb(59, 45, 33);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #3b82f6;
}

footer {
  text-align: center;
  padding: 1rem;
  color: #666;
}
